*{
    box-sizing: border-box;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: rgb(117, 6, 117);
    font-family: 'Comic Sans MS', Courier New, Courier, monospace;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(117, 6, 117);
}

#hd{
    font-family: 'Comic Sans MS', Courier New, Courier, monospace;
}
.header{
    background-color: rgb(224, 221, 221);
    box-shadow: 0 0 5px rgb(134, 134, 134);
    position: fixed;
    width: 100vw;
    height: 15vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    z-index: 2;
    position: fixed;
        position: fixed;
        z-index: 10;
}
header h1{
  position: relative;
}
section{
    background-color: rgb(223, 217, 217);
    width: 100vw;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 10vh;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.sidenav{
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    width:250 px;
    margin-top:60px;
    background:  rgb(117, 6, 117);
}
section article{
    filter: brightness(90%);
    width: 50vw;
    height: 75vh;
    position: fixed;
    left: 50vw;
    z-index: 1;
    background-image: url("images/bg.jpg");
}
section article .content{
    opacity: .800;
    background-color: rgb(245, 240, 240);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    height: 70vh;
    width: 40vw;
    left: 5vw;
    top: 2.5vh;
}
section nav{
  color: rgb(117, 6, 117);
}
section nav a{
  color: black;
  text-decoration: none;
  position: relative;
  top:50px;
  left:180px;
}
section nav .lists{
  height: 50px;
  margin-bottom: -20px;
  width: 200px;
  background-color: rgb(117, 6, 117);
  color: wheat;
  border-radius: 30px;
}
section nav img{
  height: 50px;
  width: 50px;
  border-radius: 25px; 
}
footer{
    background-color: wheat;
    box-shadow: 0 0 5px grey;
    height: 15vh;
    width: 100vw;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    bottom: 0;
  
}
footer .links{
    text-align: flex-start;
    width: 100vw;
}
footer img{
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
}
footer a:active{
    outline: none;
}
footer a:focus{
    outline: none;
}
footer #footer{
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    
}
::-webkit-scrollbar{
    width: 6px;
    border-radius: 3;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}

h1{
    text-align: center;
    padding-top: 30px;
}

.main {
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}

.menu{
  list-style: none; 
    margin:0;
    padding:0;
}
.menu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.menu li a{
    color: #fff;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
#openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}
#sec{
    transition: all .5s;
}
#openSidebarMenu:checked ~ label #sec{
    margin-left: 250px;
}
ul li:hover a{
    padding-left:50px;
    background-color: #c42ceb; ;
}
input#openSidebarMenu{
    display: none;
}
.sidebarIconToggle {
  height: 22px;
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 22px;
    left: 15px;
    transition: all 0.3s;
    cursor: pointer; 
}
.spinner {
    height: 3px;
    background-color : black;
    transition: all 0.3s;
}
.spinner.middle ,
.spinner.bottom{
    margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}