body{
    margin: 0;
    padding: 0;
    color: rgb(117, 6, 117);
}
.header{
    background-color: rgb(224, 221, 221);
    box-shadow: 0 0 5px rgb(134, 134, 134);
    position: fixed;
    width: 100vw;
    height: 15vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    z-index: 2;
}
header h1{
  position: relative;
}
section{
    background-color: rgb(223, 217, 217);
    width: 100vw;
    height: 75vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 10vh;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
section article{
    background-color: rgb(240, 240, 240);
    filter: brightness(95%);
    width: 50vw;
    height: 75vh;
    position: fixed;
    left: 50vw;
    z-index: 1;
    background-image: url("images/bg.jpg");
}
section article .content{
    opacity: .800;
    background-color: rgb(245, 240, 240);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    height: 70vh;
    width: 40vw;
    position: relative;
    left: 5vw;
    top: 2.5vh;
}
section nav{
  color: rgb(117, 6, 117);
}
section nav a{
  color: black;
  text-decoration: none;
  position: relative;
  top:50px;
}
section nav .lists{
  height: 50px;
  margin-bottom: -20px;
  width: 200px;
  background-color: rgb(117, 6, 117);
  color: white;
  border-radius: 30px;
}
section nav img{
  height: 50px;
  width: 50px;
  border-radius: 25px; 
}
footer{
    background-color: white;
    box-shadow: 0 0 5px grey;
    height: 15vh;
    width: 100vw;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    bottom: 0;
  
}
footer .links{
    text-align: center;
    width: 100vw;
}
footer img{
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
}
footer a:active{
    outline: none;
}
footer a:focus{
    outline: none;
}
footer #footer{
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    
}
::-webkit-scrollbar{
    width: 6px;
    border-radius: 3;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}